appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.1
beautifulsoup4==4.8.0
CacheControl==0.12.6
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
defusedxml==0.6.0
distlib==0.3.0
distro==1.5.0
Django==3.0.7
django-allauth==0.42.0
django-background-tasks==1.2.5
django-compat==1.0.15
django-debug-toolbar==2.2
django-etc==1.2.0
django-filter==2.3.0
django-modelcluster==5.0.2
django-modeltranslation==0.15
django-taggit==1.3.0
django-treebeard==4.3.1
djangorestframework==3.11.1
draftjs-exporter==2.1.5
et-xmlfile==1.0.1
gunicorn==20.0.4
html5lib==1.1
httplib2==0.18.1
idna==2.8
ipaddr==2.2.0
isort==5.4.2
jdcal==1.4.1
l18n==2018.5
lazy-object-proxy==1.5.1
lml==0.0.9
lockfile==0.12.2
mccabe==0.6.1
msgpack==1.0.0
oauth2client==4.1.3
oauthlib==3.1.0
odfpy==1.3.5
openpyxl==3.0.5
packaging==20.4
pep517==0.8.2
Pillow==7.1.2
progress==1.5
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyexcel-io==0.5.20
pyexcel-ods==0.5.3
pylint==2.6.0
pyparsing==2.4.7
python-http-client==3.3.1
python3-openid==3.2.0
pytoml==0.1.21
pytz==2020.1
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
sendgrid==6.4.6
sendgrid-python==0.1.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
starkbank-ecdsa==2.0.1
tablib==2.0.0
toml==0.10.1
Unidecode==1.1.1
urllib3==1.25.10
wagtail==2.11.8
wagtail-modeltranslation==0.10.14
wagtailcodeblock==1.17.1.0
wagtailfontawesome==1.2.1
webencodings==0.5.1
Willow==1.4
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
