* {
  font-size: 1rem;
  font-family: "Arial";
 }

body {
  margin-top: 40px; }


.blog-post-title-home {
    font-size: 1.5rem;
}

.blog-post-meta-home {
  font-size: 0.8rem;
  color: grey;
}

.navbar {
  box-shadow: 2px 2px 5px #121313;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.0rem;
    padding-right: 1.0rem; }


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
