{% extends "blog/base_blog.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home Blog Page</title>
</head>


{% block content %}

<body>
  <div class="container">

    <div class="container">

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="col p-1 d-flex flex-column position-static">
              {% image last_post.title_image max-500x400 class="card-img" alt="Responsive image" %}
              <div class="card-body">
                <h3 class="mb-0">{{ last_post.title }}</h3>
                <div class="mb-1 text-muted">{{ last_post.first_published_at }}</div>
                <a href="{{ last_post.url_path }}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="col p-1 d-flex flex-column position-static">
              {% image last_post_2.title_image max-500x400 class="card-img" alt="Responsive image" %}
              <div class="card-body">
                <h3 class="mb-0">{{ last_post_2.title }}</h3>
                <div class="mb-1 text-muted">{{ last_post_2.first_published_at }}</div>
                <a href="{{ last_post_2.url_path }}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>




      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
              Blog content
            </h3>

            {% if sub_pages.paginator.num_pages %}
            <div class="pagination mb-4">
              {% if sub_pages.has_previous %}
              <li class="page-item">
                <a href="?page={{ sub_pages.previous_page_number }}" class="page-link">
                  <span>&laquo;</span>
                </a>
              </li>
              {% endif %}

              {% for page_num in sub_pages.paginator.page_range %}
              <li class="page-item {% if page_num == sub_pages.number %} active {% endif %}">
                <a href="?page={{ page_num }}" class="page-link">
                  {{ page_num }}
                </a>
              </li>
              {% endfor %}

              {% if sub_pages.has_next %}
              <li class="page-item">
                <a href="?page={{ sub_pages.next_page_number }}" class="page-link">
                  <span>&raquo;</span>
                </a>
              </li>
              {% endif %}
            </div>
            {% endif %}

            {% with sub_pages as pages %}
            {% for page in pages %}
            <div class="blog-post">
              <a href="{{ page.url_path }}">
                
                  <h2 class="blog-post-title-home">{{ page.title }}</h2>
                
              </a>
              <p class="blog-post-meta-home">{{ page.first_published_at }} </p>
              <!-- <p class="card-text">{% include_block page.text_intro %}</p> -->
              <hr>

            </div><!-- /.blog-post -->
            {% endfor %}
            {% endwith %}

            {% if sub_pages.paginator.num_pages %}
            <div class="pagination mb-4">
              {% if sub_pages.has_previous %}
              <li class="page-item">
                <a href="?page={{ sub_pages.previous_page_number }}" class="page-link">
                  <span>&laquo;</span>
                </a>
              </li>
              {% endif %}

              {% for page_num in sub_pages.paginator.page_range %}
              <li class="page-item {% if page_num == sub_pages.number %} active {% endif %}">
                <a href="?page={{ page_num }}" class="page-link">
                  {{ page_num }}
                </a>
              </li>
              {% endfor %}

              {% if sub_pages.has_next %}
              <li class="page-item">
                <a href="?page={{ sub_pages.next_page_number }}" class="page-link">
                  <span>&raquo;</span>
                </a>
              </li>
              {% endif %}
            </div>
            {% endif %}


          </div><!-- /.blog-main -->

          <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">About</h4>
              <p class="mb-0"><em> {{ self.banner_about|richtext }} </em></p>
            </div>

            <div class="p-4">
              <h4 class="font-italic">Archives</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
              </ol>
            </div>

          </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

      </main><!-- /.container -->


</body>
{% endblock content %}

</html>