<!DOCTYPE html>
{% extends "blog/_base_blog.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}



<head>
    <meta charset="UTF-8">
    <title>Home Blog Page</title>
</head>

{% block content %}
    <body>
    <div class="jumbotron">
        <h1 class="display-4">{{ self.banner_title }}</h1>
        <div class="lead">{{ self.banner_subtitle|richtext }}</div>
    </div>

    <!-- Post card -->
    {% with sub_pages as pages %}
        {% for page in pages %}
            <div class="card mb-2">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% image page.title_image max-360x200 class="card-img" alt="Responsive image" %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{ page.url_path }}"><h5 class="card-title">{{ page.title }}</h5></a>
                            <p class="card-text">{% include_block page.text_intro %}</p>
                            <p class="card-text"><small class="text-muted">{{ page.first_published_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endwith %}
    <hr>

    {% if sub_pages.paginator.num_pages %}
        <div class="pagination mb-4">
            {% if sub_pages.has_previous %}
                <li class="page-item">
                    <a href="?page={{ sub_pages.previous_page_number }}" class="page-link">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page_num in sub_pages.paginator.page_range %}
                <li class="page-item {% if page_num == sub_pages.number %} active {% endif %}">
                    <a href="?page={{ page_num }}" class="page-link">
                        {{ page_num }}
                    </a>
                </li>
            {% endfor %}

            {% if sub_pages.has_next %}
                <li class="page-item">
                    <a href="?page={{ sub_pages.next_page_number }}" class="page-link">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </div>
    {% endif %}

    </body>
{% endblock content %}