<!DOCTYPE html>
<html lang="en">
{% extends "blog/_base_blog.html" %}
{% load wagtailcore_tags %}

<head>
    <meta charset="UTF-8">
    <title>{{ self.title }}</title>
</head>

{% block content %}
<body>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-10 blog-main">
                <div class="blog-post">
                    <!-- Page content (StreamField) -->
                    {% for block in page.content %}
                        {% include block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    </body>
</html>

{% endblock content %}