{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block title %}
    <title>{{ page.title }}</title>
    {% endblock title %}

</head>

{% block content %}
{% image self.title_image width-1200 as img %}
<body>

<main role="main" class="container">

    <div class="jumbotron text-white jumbotron-image shadow"
         style="background-image: url('{{img.url}}');
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         min-height: 350px;">
    </div>
    <h1 class="blog-post-title mt-2">{{ page.title }}</h1>
    <p class="blog-post-meta">{{ page.first_published_at }}</a>
    </p>

    <hr>
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <p class="h6 text-muted"><em>{{ page.description }}</em></p>
                <!-- Page content (StreamField) -->
                {% for block in page.content %}
                {% if block.block_type == 'heading' %}
                <h3>{{ block.value }}</h3>
                {% elif block.block_type == 'image' %}

                <div id="blog-post-image" class="img-fluid mb-2">
                    {% image block.value width-1200 id="blogImg" class="img-fluid" alt="image" %}
                </div>

                {% elif block.block_type == 'codeblock' %}
                {% include_block block.value %}
                {% elif block.block_type == 'content' %}
                <p>{{ block.value }}</p>
                {% elif block.block_type == 'advice_hint' %}
                <div class="alert alert-success" role="alert">{{ block.value }}</div>
                {% elif block.block_type == 'warning_hint' %}
                <div class="alert alert-warning" role="alert">{{ block.value }}</div>
                {% elif block.block_type == 'terminal_block' %}
                <div class="card text-white bg-dark" role="alert">
                    <div class="card-body">
                        {{ block.value }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>



        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">

            <div class="card mb-3">
                <div class="card-header">Random post</div>
                <div class="col p-1 d-flex flex-column position-static">
                    {% image random_post.title_image width-300 class="card-img" alt="Responsive image" %}
                    <div class="card-body">
                        <h4 class="mb-0">{{ random_post.title }}</h4>
                        <small class="mb-1 text-muted">{{ random_post.first_published_at }}</small>
                        <a href="{{ random_post.url }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="p-4 mb-3 card mb-3">
                <h4 class="font-italic">Tags:</h4>
                <ol class="list-unstyled mb-0">
                    {# Check if there are tags #}

                    {% for tag in all_tags %}
                    {# Loop through all the existing tags #}
                    <a style="font-size: 14px" href="/?tag={{ tag.slug }}" class="badge badge-primary">{{ tag.slug }}</a> {% if not forloop.last %} {% endif %}
                    {% endfor %}

                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

</body>
{% endblock content %}

</html>