{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtail_modeltranslation %}

<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">

  {% block title %}
  <title> {{ local_site_settings.page_title }} </title>
  {% endblock title %}
</head>


{% block content %}
{% image self.banner_image width-1200 as img %}

<body>

<main role="main">
  <div class="jumbotron jumbotron-image shadow"
       style="background-image: url('{{img.url}}');
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         min-height: 300px;">
    <h2 class="display-4">
      {{page.banner_title}}
    </h2>
    <p>
      {{ self.banner_subtitle|richtext }}
    </p>
  </div>


  <p class="h1"><em>Агрегатор статей и новостей из мира IT</em></p>
  <small>{{ update_time }}</small>
  <hr>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-6 mt-3">
        <h2>DOU</h2>
        <a href="https://dou.ua/" class="badge badge-secondary mb-2">www.dou.ua</a>
        {% for item in dou_news %}
        <a href="{{item.post_ulr}}">
          <li>
            <em>
              {{item.post_name_title}}
            </em>
          </li>
        </a>
        {% endfor %}
      </div>
      <div class="col-md-6 mt-3">
        <h2>AIN</h2>
        <a href="https://ain.ua/" class="badge badge-secondary mb-2" >www.ain.ua</a>
        {% for item in ain_news %}
        <a href="{{item.post_ulr}}">
          <li>
            <em>
              {{item.post_name_title}}
            </em>
          </li>
        </a>
        {% endfor %}
      </div>
    </div>



  </div>
  <hr>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-6 mt-3">
        <h2>ITC</h2>
        <a href="https://itc.ua/" class="badge badge-secondary mb-2" >itc.ua</a>
        {% for item in itc_news %}
        <a href="{{item.post_ulr}}">
          <li>
            <em>
              {{item.post_name_title}}
            </em>
          </li>
        </a>
        {% endfor %}

      </div>
      <div class="col-md-6 mt-3">
        <h2>LIGA</h2>
                <a href="https://tech.liga.net/" class="badge badge-secondary mb-2" >liga.net</a>
        {% for item in liga_news %}
        <a href="{{item.post_ulr}}">
          <li>
            <em>
              {{item.post_name_title}}
            </em>
          </li>
        </a>
        {% endfor %}

      </div>
    </div>
  </div>
</main>
</body>
{% endblock content %}

</html>