{% load static wagtailuserbar %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>

    {% block title %}{% endblock title %}

</head>





<body id="home" data-spy="scroll" data-target="">

<div class="container">
    {% block content %}

    {% endblock content %}
</div>

<footer>
    {% block javascript %}
    <script src={% static 'js/jquery-3.4.1.min.js' %}></script>
        <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js'%}></script>
        {% endblock javascript %}
        </footer>

    </body>
</html>